/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/



/* index */
#blog_types_feed{
	margin: 20px;
}

#blog_types_feed tr{
	height: 35px;
}

#blog_types_feed td{
	width: 230px;
}