<!DOCTYPE html>
<html>
<head>
  <title>goshan Blogs tools</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="tools_content">

		<%= yield %>
		
	</div>
</body>
</html>
